[package]
name = "tox"
version = "0.2.0"
authors = ["Lenard Pratt <striderman34@gmail.com>"]
[features]
default = []

[dependencies]
util = {path = "../util"}
syntax = {path = "../syntax"}
sem = {path = "../sem"}
interpreter = {path ="../interpreter"}
structopt = "0.1.6"
structopt-derive = "0.1.6"
clippy = {version = "*", optional = true}
